/* Editor specific styling for Table of Contents block */
.wp-block-guten-builder-blocks-table-of-contents,
.gbb-toc-wrapper {
  .gbb-toc-link {
    outline: none !important;
    box-shadow: none !important;

    *:focus,
    span:focus,
    [contenteditable]:focus {
      outline: none !important;
      box-shadow: none !important;
    }
  }

  .gbb-toc-container {
    .gbb-toc-empty-msg {
      text-align: center;
      padding: 20px;
      color: #718096;
      font-style: italic;
    }
  }
}


